## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 12
print (a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type (a)

int

4) Crear una variable que contenga tu nombre

In [4]:
a = 'Rodrigo Godin'
print (a)

Rodrigo Godin

5) Crear una variable que contenga un número complejo

In [30]:
b = 13 + 16j
print(b)

(13+16j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
type(b)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [29]:
Pi = 3.1416
print(Pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [28]:
c = 'True'
d = True
print(c,d)

True True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
print ('La variable 1 del punto 8 es ', type(c), ' y la variable 2 del punto 8 es ', 
type(d))

La variable 1 del punto 8 es  <class 'str'>  y la variable 2 del punto 8 es  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [27]:
numero = 9 + 3.1
print(numero)

12.1

11) Realizar una operación de suma de números complejos

In [23]:
sen = 3 + 1j
tg = 4 + 5j
print(sen + tg)

(7+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [26]:
cos = 1 + 2j
print(cos)

(1+2j)

13) Realizar una operación de multiplicación

In [25]:
multiplicar = 2 ** 2
print(multiplicar)

4

14) Mostrar el resultado de elevar 2 a la octava potencia

In [32]:
q = 2**8
print(q)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
cociente = 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [36]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [38]:
print((6*4)+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [40]:
a= 'Buenos '
b= 'Aires'
print(a+b)

Buenos Aires

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [41]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [46]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [48]:
a = 3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [52]:
a = 1<<2
texto = 'El resultado da 4 debido a que el numero 1 se multiplica por el numero 2 y a su vez este resultado se eleva a su misma potencia, dando como resultado 4'
print(a)
print(texto)

4
El resultado da 4 debido a que el numero 1 se multiplica por el numero 2 y a su vez este resultado se eleva a su misma potencia, dando como resultado 4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [54]:
a = 2 + '2'
texto ='No esta permitido ya que un valor es un numero entero y el otro es un str'
print(a)
print(texto)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
float(2)+float('2')

4.0

In [57]:
int(2)+int('2')

4

In [58]:
str(2)+str('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [62]:
a = 'Mi numero es '
b = 15151515
print(a + str(b))

Mi numero es 15151515